

.accordion-button{
    border: 1px solid #ccc;
    background: transparent !important;
}

.mainheadTree{
	border: 1px solid #ccc;
    margin: 0 auto;
    width: 30%;
    text-align: center;

    img{
        display: block;
    }
}

.accordion2nd-item{
    border: 1px solid #94a0b4;
    border-radius: 10px;
    width: 25%;
    margin: 0 auto;
    padding: 10px;
}



.tree .userTree img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px !important;
	border-radius: 80px;
	margin: 0 auto;
    display: block;
}

.tree .userTree span {
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #666;
	padding: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}


