@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');


.border-raduis, .form-group input{
    border-radius: 10rem;
}

.form-group input{
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
    text-align: left !important;
}



.padding-left{
    padding-left: 10px;
}

.custom-control-label, label, .form-group label{
    font-weight: 400;
}

.aligncenter {
    text-align: center;
  }

.alignleft{
    text-align: left;
}

.margin-bottom{
    margin-bottom: 10px;
}

.custom-checkbox label{
    text-align: left;
}

.hidebox-div{
    display: none;
}

.userTree small{
 text-transform: capitalize;
}

.padding{
    padding: 10px;
}

.rounded-circle{
    border: 1px solid #ddd !important;
}

.featured-image input{
    border: 0 none !important
}

.form-control textarea{
    border-radius: 999px !important
}

#image-preview img{
    width:150px;
}

#image-preview button{
    position: absolute;
    left: 70%;
    border: 1px solid #ddd;
    background: none;
    font-weight: 900;
    font-size: 18px;
    border-radius: 999px;
    padding: 10px 15px;
}